<section>
  <% @movies.each do |movie| %>
  <div>
    <h2>
      <%= movie.title %>
    </h2>
    <h3>
      <%= total_gross(movie) %>
    </h3>
    <p>
      <%= truncate(movie.description, length: 40, separator: ' ' ) %>
    </p>
  </div>
  <% end %>
</section>