// Colors

$black: #393939;
$off-white: #ededed;
$dark-gray: #666;
$medium-gray: #6c757d;
$light-gray: #c2c2c2;
$blue: #237cbe;
$light-blue: lighten($blue, 40%);
$orange: #e8890c;
$yellow: #ffc107;
$light-yellow: #ffc;
$red: #dc3545;
$coral: lightcoral;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 70px auto 70px;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f";
}

.nav {
  grid-area: h;
  background: $coral;
  display: flex;
  justify-content: space-around;
  align-items: center;

  h1 {
    flex-grow: 1;
  }

  ul {
    display: flex;
    list-style: none;
    flex-grow: 1;
    justify-content: space-evenly;
  }
}

.content {
  grid-area: c;
  background: rgb(216, 202, 202);
  min-height: calc(100vh - 140px);

  > * {
    padding: 1rem;
    margin: 1rem;
    border: 5px solid $coral;
  }
}

.footer {
  grid-area: f;
  background: rgb(216, 145, 145);

  > * {
    text-align: center;
  }
}
