<nav class="nav">
  <h1>Movie Review</h1>
  <ul>
    <li>
      <%= link_to("Movies", movies_path)%>
    </li>
    <li>Tv Shows</li>
    <li>Upcoming</li>
    <li>Search</li>
    <li>
      <%= link_to "Sign Up", signup_path, class: "button" %>
    </li>
  </ul>
</nav>
